<?xml version="1.0" encoding="utf-8" ?>

<Settings>
	<Connection Host="irc.unifiedtech.org" Port="6667"
							Nick="Lantea" RealName="Lantea IRC Bot"
							Retry="60" RetryCount="10">
		<Options>
			<Secure CertificatePath="~/.lantea/lantea.pem" CertificateKeyPath="~/.lantea/lantea.key" />
			<Log Threshold="31" />
		</Options>
		
		<Events>
			<OnConnect>
				<Execute Command="JOIN #unifiedtech" />
				<!--<Execute Command="OPER Foo bar" />-->
				<!--<Execute Command="PRIVMSG NickServ :ID %password%" />-->
			</OnConnect>
		</Events>
	</Connection>
</Settings>
